/* app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Animação de slideDown para o dropdown */
@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slideDown {
  animation: slideDown 0.3s ease-out;
}


/* Oculta o banner do Google Translate */
.goog-te-banner-frame {
    display: none !important;
  }
  
  .goog-te-banner-frame.skiptranslate {
    display: none !important;
  }
  
  body {
    top: 0 !important; /* Garante que o body não seja deslocado */
  }
  
  /* Remove o logo e textos adicionais do Google Translate */
  .goog-logo-link {
    display: none !important;
  }
  
  .goog-te-gadget {
    color: transparent !important;
  }
  